<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="background">
            <div class="result-container">
                <h2>Showing results for </h2>
                <div *ngFor="let item of searchResults.slice(0, 2)" class="result-item">
                    <img [src]="item.image" alt="{{item.title}}" width="100px" height="100px">
                    <h3 style="display: inline-block; color: white; margin-left: 10px;">{{item.title}}</h3>
                  </div>
            </div>
              
        </div>
    </div>

</div>














